@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Roboto Slab", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root, html, .container {
  height: 100%;
  width: 100%;
}

.wrapper {
  padding: 20px;
  max-width: 980px;
  margin: auto;
}

.wrapper_footer {
  min-height: calc(100% - 50px);
}

.header {
  border-bottom: 2px solid #0b7fab;
  margin-bottom: 20px;
  position: relative;
}

.header__text {
  margin-bottom: 5px;
  letter-spacing: 0.00938em;
  font-weight: 500;
}

.header__text_center {
  text-align: center;
}

.table {
  display: flex;
  justify-content: center;
}

a, a:hover {
  text-decoration: none;
}

a:hover {
  opacity: 0.8
}

.scroll_button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
