.header {
  border-bottom: 2px solid #0b7fab;
  margin-bottom: 20px;
  position: relative;
}

.header__text {
  margin-bottom: 5px;
  letter-spacing: 0.00938em;
  font-weight: 500;
}

.admin__spinner {
  margin-top: 100px;
}

.admin__spinner_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.edit__form__field {
  width: 100%;
}

.edit__form__text_editor {
  border: 1px solid rgb(118, 118, 118);
  border-radius: 2px;
  padding-bottom: 20px;
}

.edit__form__text_editor .rdw-editor-toolbar {
  border-bottom: 1px solid rgb(118, 118, 118);
}

.edit__form__text_editor_editor {
  height: 500px;
  padding: 0 5px;
}

.edit__form__text_editor_editor h5 {
  font-size: 16px;
}

.edit {
  margin-bottom: 200px;
}

.edit__form__select_articles {
  position: relative;
}

.edit__form__suggest {
  border: 1px solid rgb(118, 118, 118);
  border-radius: 2px;
  position: absolute;
  z-index: 100;
  width: 100%;
  background: white;
}

.edit__form__suggest_item {
  padding: 5px;
  margin: 0;
}

.edit__form__suggest_item:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.edit__form__tags {
  margin-bottom: 10px;
  padding: 5px 0;
}

.edit__form__tag {
  margin-right: 5px;
}

.edit__form__error {
  color: red;
}
