.header {
  border-bottom: 2px solid #0b7fab;
  margin-bottom: 20px;
  position: relative;
}

.header__text {
  margin-bottom: 5px;
  letter-spacing: 0.00938em;
  font-weight: 500;
}

.admin__spinner {
  margin-top: 100px;
}