.drawer {
  padding: 20px;
}

.drawer__header {
  border-bottom: 2px solid #0b7fab;
  margin-bottom: 20px;
  position: relative;
}

.drawer__button {
  position: absolute;
  bottom: 0;
  right: 0;
}

.drawer__title {
  margin-bottom: 5px;
  letter-spacing: 0.00938em;
  font-weight: 500;
}

.drawer__tree .bp4-tree-node-label {
  display: flex;
  height: 100%;
  align-items: center;
}

.bp4-tree-node-selected .drawer__link {
  color: white;
}

.drawer__link {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.drawer__link:hover {
  text-decoration: none;
}

.header {
  border-bottom: 2px solid #0b7fab;
  margin-bottom: 20px;
  position: relative;
}

.header__button {
  position: absolute;
  bottom: 0;
  left: 0;
}

.article {
  font-size: 14px;
  margin-bottom: 50px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.00938em;
}

.article__text {
  margin-bottom: 20px;
}

.article__header {
  font-weight: 500;
  margin-bottom: 10px;
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.article__img_wrapper {
  margin: auto;
}

.article__img_text {
  font-size: 12px;
  text-align: center;
}

.article__img {
  max-width: 400px;
  width: 100%;
  cursor: pointer;
  display: block;
  margin: auto;
}

.modal {
  width: 90%;
  max-width: 1900px;
}

.modal__img {
  width: 100%;
}

.button {
  transition: 0.1s;
}

.bp4-button.button_nobg {
  background: none;
}

.bp4-button.button_nobg:hover {
  background: none;
  opacity: 0.5;
}

@media screen and (max-width: 600px) {
  .drawer.bp4-drawer {
    width: 100%;
  }

  .header__text.bp4-heading {
    font-size: 16px;
  }
}
