.table {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.table table {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 12px;
}

.buttons {
  width: 100%;
}

.admin__link {
  text-align: right;
  margin-right: 0;
}

